.settings
.metadata
.checkstyle
bin
cq/node_modules/
target
.pmd
.ruleset
ruleset.xml
.springBeans
eclipsebin
.eclipse-pmd
.buildpath

.class
*.zip
*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
.DS_Store
.vlt*
*.swp
*~
*.orig


classes
testclasses


endpoint.properties


cq/atlassian-ide-plugin.xml
utils/ctfs-mock-client/gsrc/
.sonar
.gradle
.vagrant
*.log

env/ansible/ci/docker/id_rsa.pub
*beans.xsd
*items.xsd
*testclasses.xml
pos_backoffice/backoffice-webservices/nbactions.xml

engines/css/node_modules